.button{
	display: inline-block;
	height:32px;
	line-height:32px;
	color: white;
	background-color: $orange;
	padding:0 8px;
	font-family: $raleway;
	font-weight: 400;
	@include font-size(18);
	text-align: center;
	@include transition (background-color .1s linear 0s);
	border: none;
	text-transform:uppercase;
}
a:hover,a:active{
	.button{
		background-color: $light-blue;
	}
}