.button{
	display: inline-block;
	height:32px;
	line-height:32px;
	color: white !important;
	background-color: $orange;
	padding:0 8px;
	font-family: $raleway;
	font-weight: 400;
	@include font-size(18);
	text-align: center;
	@include transition (background-color .1s linear 0s);
	border: none;
	text-transform:uppercase;
	&.download{
		//background-color:$light-grey !important;
		padding:0 8px 0 35px;
		margin-bottom: 10px;
		background: $light-blue url('../images/download-white.png') 8px center no-repeat;
		@include font-size(16);
		&:hover,&:active{
			background-color: $blue;
		}
	}
}
a:hover,a:active{
	.button{
		background-color: $light-blue !important;
	}
}