#nav{
	background-color: $dark-grey;
	@include font-size(15);
	font-weight: bold;
	position: relative;
	height:70px;
	overflow: visible !important;
	font-family: $raleway;
	font-weight: 700;
	z-index:999;
	.container{
		@media screen and (max-width: $break-large) {
			overflow:visible;
		}
	}
	@media screen and (max-width: $break-medium) {
		position: fixed;
		left:0;
		top:0;
	}
	.container{
		@media screen and (max-width: $break-large) {
			padding:0 !important;
		}
	}
	@include centered-menu;
	@media screen and (max-width: $break-large) {
		height:52px;
		display: block;
		overflow:visible;
	}
	.fixed &{
		position: fixed;
		left:0;
		top:0;
		z-index: 9999;
	}
	a#mobile{
		display: block;
		width: 32px;
		height: 32px;
		background:url('../images/mobile-menu-32.png') left top no-repeat;
		@include abs-pos(11px,10px,auto,auto);
		cursor: pointer;
		@extend %ir;
		z-index: 999;
		@include opacity(0.8);
		display: none;
		@media screen and (max-width: $break-large) {
			display:block;
		}
		&:hover,&:active,&.active{
			@include opacity(1);
		}
	}
	li{
		&.active{
			a:link,a:visited{
				color: $orange;
			}
			a:hover,a:active{
				color: $orange;
			}
		}
	}
	@include wp-current-page-links{
        color: $orange; 
        background:url('../images/nav-selected-rpt.jpg') center top repeat-x;
        @media screen and (max-width: $break-large) {
        	background: lighten($dark-grey,5);
        	color: white;
        }
		&:before, &:after{
			content:"";
			background-image: url('../images/nav-selected-left.jpg');
			@media screen and (max-width: $break-large) {
				background:none;
			}
			background-position: left top;
			background-repeat: no-repeat;
			width:2px;
			@include abs-pos(0,auto,0,0);
		}
		&:after{
			@include abs-pos(0,0,0,auto);
			background-image: url('../images/nav-selected-right.jpg');
			@media screen and (max-width: $break-large) {
				background:none;
			}
		}
    }
	ul{
		@include inline-menu;
		margin:0;
		@media screen and (max-width: $break-large) {
			left:auto;
			width:40%;
			position:absolute;
			z-index: 9999;
			top:52px;
			right:0;
			display: none;
		}
		@media screen and (max-width: $break-medium) {
			width:100%;
		}
		li{
			@media screen and (max-width: $break-large) {
				float:none !important;
				display: block;
				right:auto;
				width:100%;
			}
			position: relative;
			ul.sub-menu{
				@include abs-pos(70px,auto,auto,0);
				left:auto !important;
				z-index: 9999;
				width:220px;
				padding-bottom:5px;
				display: none;
				font-weight: 400;
				background-color: $dark-grey;
				li{
					right:auto;
					width:100%;
					float: none;
					display: block;
					a{
						&:link, &:visited{
							height:auto;
							line-height: 110%;
							padding:0;
							background-image:none;
							@include font-size(14);
							color: darken(white,30);
							text-align: left;
							background-color: $dark-grey;
							display: block;
							float:none;
							width: 100%;
							padding: 5px 10px 5px 20px;
							font-weight: normal;
							&:before,&:after{
								background-image:none;
							}
						}
						&:hover,&:active{
							background-color:lighten($dark-grey,5);
							color:white;
						}
					}
				}
			}
		}
		a{
			&:link,&:visited{
				color: white;
				@include text-shadow(1px 1px 2px #000);
				text-transform: uppercase;
				padding:0 18px;
				@media screen and (max-width: $break-xlarge) {
					padding: 0 12px;
					display: block;
					float:none;
				}
				@media screen and (max-width: $break-large) {
					text-align: left;
					background-color: $dark-grey;
					height:35px;
					line-height: 35px;
					color:darken(white,20);
				}
				height:70px;
				line-height: 70px;
				text-align: center;
				@include transition (all .1s linear 0s);
			}	
			&:hover,&:active{
				color: $orange;
				@media screen and (max-width: $break-large) {
					color:white;
					background: lighten($dark-grey,5);
				}
			}
		}
	}
}
nav#solutions{
	aside &{
		@include clearfix;
		overflow:visible;
	}
	ul{
		@extend %reset-spacing;
		li{
			@media screen and (min-width: $break-medium+1) {
				@include span-columns(3);
				 @include omega(4n);
			}
			@media screen and (max-width: $break-medium) {
				@include span-columns(6);
				@include omega(2n);
			}
			position: relative;
			aside &{
			 	width:100%;
			 	margin-bottom: 8px;
			 	overflow:visible;
			 	@extend %clearfix;
			 }
			.wrap{
				padding:20px 40px;
				@media screen and (max-width: $break-large) {
					padding: 10px !important;
				}
				aside &{
					padding:0;
				}
				@media screen and (max-width: $break-large) {
					padding: 20px 10px;
				}
			}
			&.vpn{
				@include shift(1.5);
				@media screen and (max-width: $break-medium) {
					@include shift(0);
				}
				aside &{
					margin-left: 0;
				}
			}
			&.message-archiver{
				@media screen and (max-width: $break-medium) {
					@include shift(3);
				}
			}
			a{
				text-align: center;
				.circle{
    				position: relative;
    				@include transition (all .2s ease-in-out);
    				width: 100%;
    				overflow: hidden;
    				background: #4679BD;
    				@include border-radius(50%);
    				aside &{
    					width:18%;
    					@include abs-pos(0,auto,auto,0);
    				}
    				&:before{
    					content: "";
    					display: block;
    					padding-top: 100%;
					}
					.icon{
    					position:  absolute;
    					top: 0;
    					left: 0;
    					bottom: 0;
    					right: 0;
    					color: white;
    					img{
    						width:60%;
    						height:auto;
    						@include abs-pos(50%,auto,auto,50%);
    						margin:-30% 0 0 -30%;
    					}
					}
    			}
    			.label{
					@include font-size(20);
					@media screen and (max-width: $break-large) {
						@include font-size(18);
					}
					@media screen and (max-width: $break-medium) {
						@include font-size(14);
						margin-top:5px;
					}
					font-family: $raleway;
					font-weight: 400;
					margin:22px 0 0;
					color: $light-blue;
					aside &{
						width:100%;
						text-align: left;
						@include font-size(18);
						margin:0;
						&:before{
    						content: "";
    						display: block;
    						padding-top: 18%;
						}
						div.content{
							padding-left:22%;
							@include abs-pos(0,0,0,0);
							div{
								display: table;
   								width: 100%;
   								height: 100%;
								span{
									display: table-cell;
									vertical-align: middle;
								}
							}
						}
					}
				}
    			&:hover,&:active{
    				.circle{
    					background-color: $orange;
    					@include transform(scale(1.05));
    				}
    				.label{
    					color: $orange;
    				}
    			}
			}
		}
	}
}
nav#partners{
	li{
		margin-bottom: 20px;
		img{
			width: 70%;
			height: auto;
		}
	}
}
nav#sub-nav{
	header{
		margin-bottom: 8px;
	}
	@include wp-current-page-links{
		background-color: $orange;
		color: white;
	}
	@include font-size(14);
	font-family: $raleway;
	font-weight: 400;
	li{
		margin-bottom: 2px;
	}
	a{
		padding:8px;
		display: block;
		line-height: 110%;
		&:link,&:visited{
			color: $dark-grey;
			background-color: #dddddd;
		}
		&:hover,&:active{
			background-color: $orange;
			color: white;
		}
	}
}
nav#archive, nav#categories, nav#articles{
	ul{
		margin-left:8px;
		li{
			margin-bottom: 5px;
			line-height: 110% !important;
		}
		a:link{
			
		}
	}
}
nav#articles li{
	margin-bottom: 15px !important;
	small{
		color: $dark-grey;
		display:block;
		margin-bottom: 2px;
	}
}
aside{
	nav{
		margin-bottom: 30px;
		header{
			font-family: $raleway;
			font-weight: 400;
			@include font-size(18);
			color: $blue;
			a:link,a:visited,span{
				display: block;
				width:100%;
				height:100%;
				padding: 8px;
				background-color: $light-blue !important;
				color: white !important;
				margin-bottom: 15px;
			}
			a:hover, a:active{
				background-color: $orange !important;
			}

		}
	}
}
