
.home{
	#content{
		text-align: center;
	}
}
#videos{
	@extend %clearfix;
	background-color: $light-grey;
	padding: 40px 0;
	footer{
		text-align: center;
		a{
			margin:0 auto;
		}
	}
	h3{
		text-align: center;
		color: $dark-grey;
		margin-bottom:40px;
	}
	.container{
		div.column{
			@include span-columns(4);
			@media screen and (max-width: $break-medium) {
				@include span-columns(12);
			}
		}
		div.video figure{
			//@include responsive-video;
			img{
				@include fit-grid(width);
			}
		}
	}
}